.vscode/**
.vscode-test/**
src/**
webview/**
out/**
out-test/**
node_modules/**
.git/**
.github/**
.husky/**
fixtures/**
**/*.ts
**/*.map
esbuild.js
eslint.config.mjs
commitlint.config.mjs
vitest.config.ts
tsconfig*.json
vite.config.ts
.prettierrc
.editorconfig
**/.eslintrc*
